@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #73777B;
  color: #C5A880;
  font-family: "Monaco", monospace;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  color: #C1121F;
  font-family: 'Parisienne', cursive;
  text-align: center;
}

footer {
  background: #44494d;
  color: #ffffff; /* texte blanc pour lisibilité */
  padding: 20px 0;
  margin-top: 40px;
  width: 100vw;
  position: relative;
  left: -10%;
  text-align: center;
}

a:link {
  color: #1F4E5F;
  text-decoration: underline;
}

a:visited {
  color: #F5F0E1;
  text-decoration: underline;
}

a:hover {
  color: #C0C0C0;
  text-decoration: underline;
}
