@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #73777B;
  color: #C5A880;
  font-family: "Monaco", monospace;
  text-align: center;
  width: 100%;
  margin: 0;
}

h1 {
  color: #C1121F;
  font-family: 'Parisienne', cursive;
  font-size: 200%;
  text-align: center;
}

.content a {
  transition: color 0.3s ease;
}

.content a:link,
.content a:visited {
  text-decoration: underline;
}

.content a:link {
  color: #1F4E5F;
}

.content a:visited {
  color: #F5F0E1;
}

.content a:hover {
  color: #C0C0C0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  border: 0.3% solid #C1121F;
  border-radius: 10%;
  transform: scale(110%); /* Agrandissement de l'image avec un pourcentage */
  box-shadow: 0 0 20% 5% rgba(193, 18, 31, 0.6); /* Effet glow (halo lumineux) en pourcentage */
}

.sidebar {
  height: 100%;
  width: 4%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1F4E5F;
  overflow-x: hidden;
  transition: width 0.4s ease;
  padding-top: 5%;
  text-align: left;
  box-shadow: 0 0 1% rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sidebar:hover {
  width: 15%;
}

.sidebar a {
  opacity: 0;
  pointer-events: none; /* Désactive l'interaction avec les liens quand ils sont invisibles */
  white-space: nowrap;
  overflow: hidden; /* Cache le texte excédant */
  transition: opacity 0.3s ease, padding 0.3s ease; /* Animation douce pour l'apparition */
  padding: 3% 0; /* Réduit le padding pour cacher plus efficacement */
}


.sidebar:hover a {
  opacity: 1;
  pointer-events: auto; /* Réactive les liens */
  padding: 3% 10%; /* Restaure le padding pour afficher le texte correctement */
}

main.content {
  margin-left: 5%;
  padding: 3%;
  transition: margin-left 0.4s ease;
}

.sidebar:hover ~ .content {
  margin-left: 17%;
}
